{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <!-- Logo -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}

	{% for message in app.flashes('success') %}
		<div class="flash-notice alert-success">
			{{ message }}
		</div>
	{% endfor %}
	
	<!-- Header -->
	<header class="intro">
		<div class="hero">
			<h1 class="hero__text">Slashflex</h1>
            <img src="/build/images/model.webp" class="model-human--base img-fluid" alt="model">

			<!-- Chess pieces animation on mouse mouve -->
			<div class="hero__chess1"></div>
			<div class="hero__chess2"></div>
			<div class="hero__chess3"></div>
		</div>
	</header>

	<!-- Section About -->
	{% include "partials/_section_about.html.twig" %}

	<!-- Section Stack -->
	{% include "partials/_section_stack.html.twig" %}

	<!-- Section Works -->
	{% include "partials/_section_works.html.twig" %}

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	  // Symfony webpack encore bundle fix for SCSS not rendering background-image url(s)
	
	  // IIFE that takes Array from back-end and adds a background-image based on data attribute
	  (function() {
	    // Loops through each project
	    for (let i = 1; i <= {{ projects|length }}; i++) {
	      // Increments class
	      var img = $(`.slide${[i]}`);
		  
		  // Sets background-image property base on data attribute		
		  img.css('background-image', function () {
			var bg = ('url(/uploads/images' + $(this).data('background') + ')');
			return bg;
		  });

		  // Sets cover property to background-image
	      img.css('background-size', function () {
		    var cover = 'cover';
		    return cover;
	      });

		  img.css('background-position', function () {
			  var position = 'center';
			  return position;
		  });

		  img.css('background-repeat', function () {
			  var position = 'no-repeat';
			  return position;
		  });

		  img.css('width', function () {
			  var position = '348px';
			  return position;
		  });
		  /*img[0].style.width = '348px !important';
		  console.log(img[0].style.width = '348px');*/
	    }
      })();
	</script>
{% endblock %}
