<div class="bottomNav">
	<button class="close" type="button">
		{# <img src="{{ asset('/images/arrow_menu.png') }}" alt="" class="close__btn"/> #}
        <i class="fas fa-chevron-down close__btn"></i>
	</button>

	<nav class="bottomNav__nav">
		<ul class="bottomNav__list">
			<li class="bottomNav__item">
				<a href="#about" class="bottomNav__link">About</a>
			</li>
			<li class="bottomNav__item">
				<a href="#works" class="bottomNav__link">Works</a>
			</li>
			<li class="bottomNav__item">
				<a href="#" class="bottomNav__link">Download my resume</a>
			</li>
			<li class="bottomNav__item">
				<a href="#" class="bottomNav__link">Contact</a>
			</li>
		</ul>
	</nav>
</div>
