<div class="bottomNav">
	<button class="close" type="button">
        <i class="fas fa-chevron-down close__btn"></i>
	</button>

	<nav class="bottomNav__nav">
		<ul class="bottomNav__list">
			<li class="bottomNav__item">
				<a href="#about" class="bottomNav__link">About</a>
			</li>
			<li class="bottomNav__item">
				<a href="#works" class="bottomNav__link">Works</a>
			</li>
			<li class="bottomNav__item">
				<a href="#" class="bottomNav__link">Download my resume</a>
			</li>
			<li class="bottomNav__item">
				<a href="#" class="bottomNav__link">Contact</a>
			</li>
			<!-- Admin links -->
			{# <li class="bottomNav__item">
				<a href="{{ path('show_projects') }}" class="bottomNav__link">Show Projects</a>
			</li> #}
			<li class="bottomNav__item">
				<a href="{{ path('new_project') }}" class="bottomNav__link">Add a project</a>
			</li>
			{% if not app.user %}
			<li class="bottomNav__item">
				<a href="{{ path('admin_signin') }}" class="bottomNav__link">Connexion Admin</a>
			</li>
			{% else %}
			<li class="bottomNav__item">
				<a href="{{ path('logout') }}" class="bottomNav__link">Logout</a>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>
