<footer class="footer" id="footer">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-4">
				{# <p class="footer__title">Slashflex<br> #}
					<a class="footer__link" href="/">
						<span class="footer__slashflex">/ FLX</span>
					</a>
				{# </p> #}
				<p style="text-align: justify;">I am always open to new interesting ideas and startups. If you need some help with your project – please do not hesitate to contact me right now!</p>

				<div class="btn__footer">
					<a href="/" class="btn__footer--text">Text Me</a>
				</div>
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet.
			</div>
		</div>
	</div>
</footer>
