<footer class="footer" id="footer">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-4">
				<a class="footer__link" href="/">
					<span class="footer__slashflex">/ FLX</span>
				</a>
				<p style="text-align: justify;">I am always open to new interesting ideas and startups. If you need some help with your project – please do not hesitate to contact me right now!</p>

				<div class="btn__footer">
					<a href="/" class="btn__footer--me">Text Me</a>
				</div>
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet.
			</div>
		</div>

		<div class="menu-footer">
			<nav class="footer-nav">
				<ul class="footer-nav__icons">
					<li class="footer-nav__item">
						<a href="#" class="footer-nav__social">
							<i class="fab fa-github footer-nav__menu"></i>
						</a>
					</li>
					<li class="footer-nav__item">
						<a href="#" class="footer-nav__social">
							<i class="fab fa-linkedin-in footer-nav__menu"></i>
						</a>
					</li>
					<li class="footer-nav__item">
						<a href="mailto: pro.davidsaoud@gmail.com" class="footer-nav__social">
							<i class="fas fa-paper-plane footer-nav__menu"></i>
						</a>
					</li>
				</ul>
			</nav>
			<hr style="background-color: rgba(255, 255, 255, 0.1)">

		<div class="footer-copyright text-center py-3">&copy; {{ "now"|date("Y") }} Copyright:
			<a class="footer-copyright--link" href="https://slashflex.io/"> Slashflex.io</a>
		</div>
		</div>
	</div>
</footer>
