<footer class="footer" id="footer">
	<div class="container">
		<div class="row mt-5">
			<div class="col-12" id="large-mobile">
				<a class="footer__link" href="{{ path('home') }}">
					<span class="footer__slashflex">/ FLX</span>
				</a>
				<p class="language-html" style="text-align: justify;">I am always open to new interesting ideas and startups. If you need some help with your project – please do not hesitate to contact me right now!</p>

				<div class="btn__footer">
					<a href="mailto:pro.davidsaoud@gmail.com" class="button__login--text">Text Me</a>
				</div>
			</div>
		</div>

		{% include "partials/_footer-full-nav.html.twig" %}
	</div>
</footer>
