<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="I really know how to make a right impression. Also I know how to make a unique and beautiful website with all of attention to the detail.">
        <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
        <link rel="canonical" href="https://slashflex.io.test/projects/">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="article">
        <meta property="og:title" content="Projects | /FLX - Just beautiful and clean Web Design">
        <meta property="og:description" content="I really know how to make a right impression. Also I know how to make a unique and beautiful website with all of attention to the detail.">
        <meta property="og:url" content="https://slashflex.io/projects/">
        <meta property="og:site_name" content="BERSUS">
        <meta property="og:updated_time" content="2020-07-09T10:23:28+03:00">
        <!-- TODO -->
        <meta property="og:image" content="https://slashflex.io/uploads/projects.webp">
        <meta property="og:image:secure_url" content="https://slashflex.io/uploads/projects.webp">
        <!-- END TODO -->
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:image:alt" content="Slasflex.io">
        <meta property="og:image:type" content="image/webp">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Projects | /FLX - Just beautiful and clean Web Design">
        <meta name="twitter:description" content="I really know how to make a right impression. Also I know how to make a unique and beautiful website with all of attention to the detail.">
        <meta name="twitter:image" content="https://slashflex.io/uploads/projects.webp">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <!-- Swiper core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/css/swiper.min.css"/>
        <!-- Font Awesome core CSS-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
        <!-- Animate core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.css"/>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap" rel="stylesheet" /> 
        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
        {# <!-- TweenMax core JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script> #}
        
        {# <link href="{{ asset('build/app.css') }}" rel="stylesheet"> #}
        
        <!-- Custom CSS compiled from SCSS -->
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
