<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <article class="about__left">
          <h2 class="about__left--title">My name is David Saoud</h2>
          <p class="about__left--text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ipsa magni, quasi libero rem neque accusamus qui eveniet assumenda officiis praesentium impedit?
          </p>
          <div class="btn__stroke">
            <a href="/" class="btn__stroke--text">About Me</a>
          </div>
        </article>
      </div>

      <div class="col-md-6">
        <article class="about__right">
          <img src="./chess_2-1.png" alt="" />
        </article>
      </div>
    </div>

    <!-- Mouse scoller -->
    <div class="scroll">
      <a href="#stack">
        <i class="fas fa-chevron-down normal"></i>
        <i class="fas fa-chevron-down smaller"></i>
        <i class="fas fa-chevron-down tiny"></i>
      </a>
    </div>
  </div>      
</section>