<section class="stack" id="stack">
	<div class="stack__text">
		<div class="stack__text--recent">Languages</div>
		<div class="stack__text--stack">I SPEAK</div>
		<div class="stack__text--sub">Technologies i use</div>
	</div>
	<div class="container">
		<div class="row cards">
			<div class="col-md-6 ">
				<div class="card__stack">
					<div class="front">
						<p>LOL</p>
					</div>
					<div class="back">
						<p>BACK</p>
						<p>Lorem ipsum</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card__stack">
					<div class="front">
						<p>LOL</p>
					</div>
					<div class="back">
						<p>BACK</p>
						<p>Lorem ipsum</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card__stack">
					<div class="front">
						<p>LOL</p>
					</div>
					<div class="back">
						<p>BACK</p>
						<p>Lorem ipsum</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card__stack">
					<div class="front">
						<p>LOL</p>
					</div>
					<div class="back">
						<p>BACK</p>
						<p>Lorem ipsum</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
