<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6" data-aos="fade-right">
        <article class="about__left">
          <h2 class="about__left--title">My name is David Saoud</h2>
          <p class="about__left--text">
            I am a front and back end web developer, geek, sociable, curious, meticulous, autonomous & collective. I am perpetually working on improving my skills one design problem at a time.
          </p>
        
          <div class="form-group">
            <div class="goo-btn">
              <svg xmlns="http://www.w3.org/2000/svg" class="goo">
                <defs>
                    <filter id="goo">
                      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                      <feComposite in="SourceGraphic" in2="goo"/>
                    </filter>
                </defs>
              </svg>

              <span class="button--bubble__container" data-aos="fade-right">
                <a href="{{ path('about') }}" class="button button--bubble">
                    About Me
                </a>
                <span class="button--bubble__effect-container">
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>
                    <span class="circle top-left"></span>

                    <span class="button effect-button"></span>

                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                    <span class="circle bottom-right"></span>
                </span>
              </span>
            </div>
          </div>
        </article>
      </div>

      <div class="col-12 col-lg-6" data-aos="fade-up-right">
        <article class="about__right">
          <img src="{{ asset('build/images/room.webp') }}" alt="developper room" />
        </article>
      </div>
    </div>
  </div>      
</section>