<section class="stack">
	<div class="stack__text">
		<div class="stack__text--recent" data-aos="fade-right">What exactly</div>
		<div class="stack__text--stack" data-aos="fade-up-right">I DO</div>
		<div class="stack__text--sub">Technologies i use</div>
	</div>

	<div class="container">
		<div class="row cards">
			<div class="col-sm-1 col-lg-1"></div>
			<div class="col-sm-5 col-lg-5" data-aos="fade-up-right">
				<div class="card1">
					<div class="flips">
						<div class="front1 vertical">
							<div class="card-content">
								<h2 class="front-h2">
									<i class="devicon-sass-original"></i>
									<i class="devicon-javascript-plain"></i>
									<i class="devicon-react-original"></i>
									<i class="devicon-css3-plain"></i>
									<i class="devicon-jquery-plain"></i>
								</h2>
								<h2 class="front-h2">
									<i class="devicon-bootstrap-plain"></i>
									<i class="devicon-babel-plain"></i>
								</i>
								<i class="devicon-webpack-plain"></i>
								<i class="devicon-visualstudio-plain"></i>
								<i class="devicon-html5-plain"></i>
							</h2>
							<h2 class="front-h2">
								<i class="devicon-gimp-plain"></i>
								<i class="devicon-less-plain-wordmark"></i>
								<i class="devicon-stylus-original"></i>
							</h2>
							{# <p class="front-p">Front end development</p> #}
						</div>
					</div>
					<div class="back1 vertical">
						<div class="card-content">
							<h2 class="back-h2">Front end development</h2>
							<p class="back-p">Build well thought-out interfaces with a mobile first approach.</p>
							<a href="{{ path('works')}}" class="button__login--text">Showcase</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-5 col-lg-5" data-aos="fade-up-right">
			<div class="card2">
				<div class="flips">
					<div class="front2 vertical">
						<div class="card-content">
							<h2 class="front-h2">
								<i class="devicon-php-plain"></i>
								<i class="devicon-nodejs-plain"></i>
								<i class="devicon-express-original"></i>
								<i class="devicon-postgresql-plain"></i>
								<i class="devicon-mongodb-plain"></i>
							</h2>
							<h2 class="front-h2">
								<i class="devicon-apache-plain"></i>
								<i class="devicon-nginx-original"></i>
								<i class="devicon-doctrine-plain"></i>
								<i class="devicon-debian-plain"></i>
								<i class="devicon-git-plain"></i>
							</h2>
							<h2 class="front-h2">
								<i class="devicon-mysql-plain"></i>
								<i class="devicon-ssh-plain"></i>
								<i class="devicon-npm-original-wordmark"></i>
								<i class="devicon-mongodb-plain"></i>
								<i class="devicon-symfony-original"></i>
							</h2>
							{# <p class="front-p">Back end development</p> #}
						</div>
					</div>
					<div class="back2 vertical">
						<div class="card-content">
							<h2 class="back-h2">Back end development</h2>
							<p class="back-p">REST API design, secure databases, server installation and deployment.</p>
							<a href="{{ path('works')}}" class="button__login--text">Showcase</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1 col-lg-1"></div>
	</div>

	{# <div class="row">
		<div class="col-sm-1 col-lg-1"></div>
		<div class="col-sm-5 col-lg-5" data-aos="fade-up-right">
			<div class="card3">
				<div class="flips">
					<div class="front3 vertical">
						<div class="card-content">
							<h2 class="front-h2">Front</h2>
							<p class="front-p">Back end development</p>
						</div>
					</div>
					<div class="back3 vertical">
						<div class="card-content">
							<h2 class="back-h2">Back</h2>
							<p class="back-p">Lorem ipsum</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-5 col-lg-5" data-aos="fade-up-right">
			<div class="card4">
				<div class="flips">
					<div class="front4 vertical">
						<div class="card-content">
							<h2 class="front-h2">Front</h2>
							<p class="front-p">Front end development</p>
						</div>
					</div>
					<div class="back4 vertical">
						<div class="card-content">
							<h2 class="back-h2">Back</h2>
							<p class="back-p">Lorem ipsum</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5 col-lg-1"></div>
	</div> #}
</section>
