<section class="stack" id="stack">
	<div class="stack__text">
		<div class="stack__text--recent">Languages</div>
		<div class="stack__text--stack">I SPEAK</div>
		<div class="stack__text--sub">Technologies i use</div>
	</div>
	
	<div class="container">
		<div class="row cards">
			<div class="col-sm-1 col-lg-1"></div>
			<div class="col-sm-5 col-lg-5"> 
				<div class="card1">
					<div class="flips">
						<div class="front1 vertical">
							<div class="card-content">
								<h2>Front</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
						<div class="back1 vertical">
							<div class="card-content">
								<h2>Back</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-lg-5">
				<div class="card2">
					<div class="flips">
						<div class="front2 vertical">
							<div class="card-content">
								<h2>Front</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
						<div class="back2 vertical">
							<div class="card-content">
								<h2>Back</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-lg-1"></div>
		</div>

		<div class="row">
			<div class="col-sm-1 col-lg-1"></div>
			<div class="col-sm-5 col-lg-5">
				<div class="card3">
					<div class="flips">
						<div class="front3 vertical">
							<div class="card-content">
								<h2>Front</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
						<div class="back3 vertical">
							<div class="card-content">
								<h2>Back</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-lg-5">
				<div class="card4">
					<div class="flips">
						<div class="front4 vertical">
							<div class="card-content">
								<h2>Front</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
						<div class="back4 vertical">
							<div class="card-content">
								<h2>Back</h2>
								<p>Lorem ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5 col-lg-1"></div>
		</div>
	</div>
</section>
