<!-- Logo -->
<div class="logo">
	<a href="{{ path('home') }}" class="logo__text">/ FLX</a>
</div>

<!-- Collapse button -->
<button class="navbar-toggler first-button open-nav" type="button">
	<div class="animated-icon">
		<span></span>
		<span></span>
		<span></span>
	</div>
</button>
