<div class="logo">
	<a href="{{ path('home') }}" class="logo__text fix">/ FLX</a>	
</div>

<!-- Dark/Light mode Switch -->
<div class="toggle-container">
	<input type="checkbox" id="switch" name="theme" /><label id="label" for="switch">Toggle</label>
</div>