// Shell
.flag {
  color: var(--flag);

  &::selection {
    background-color: var(--card-p);
    color: var(--bg-inversed);
  }
}
.highlight {
  background-color: var(--color-headings);
  color: var(--bg);
  padding: 0.2rem 0.4rem;
  font-weight: 600;

  &::selection {
    background-color: var(--card-p);
    color: var(--bg-inversed);
  }
}
.sudo {
  color: var(--sudo);

  &::selection {
    background-color: var(--card-p);
    color: var(--bg-inversed);
  }
}

.var {
  color: var(--var);

  &::selection {
    background-color: var(--card-p);
    color: var(--bg-inversed);
  }

  &__name {
    color: $color-white;
  }
  &__string {
    color: $alert-error;

    &::selection {
      background-color: var(--card-p);
      color: var(--bg-inversed);
    }
  }
  &__param {
    color: var(--param);
  }
  &__function {
    color: $color-function;
  }
}
.language {
  &-html {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--links);
    text-align: justify;

    & strong {
      color: var(--links);
    }
  }
  &-shell {
    font-size: 1.3rem;
    background-color: var(--links);
    display: block;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--bg);

    &::selection {
      background-color: var(--card-p);
      color: var(--bg-inversed);
    }
  }
  &__title {
    font-size: 4rem;
    margin-bottom: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: var(--links);
  }
  &__subtitle {
    font-size: 2.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: var(--links);
  }
  &__heading5 {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--links);
  }
}
.separator {
  margin: 2rem 0;
  background-color: $color-tertiary;
}
code {
  color: $color-white;
  margin-bottom: 2rem;
}
.article {
  &__content {
    width: 100%;
    margin: 0 auto;

    @include respond(phone) {
      width: 85%;
    }
  }
}
.round {
  display: none;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: $color-tertiary;
  position: absolute;
  left: 50%;
  margin-left: -7.5rem;
  animation: movingH1 10s infinite;

  @include respond(tab-port) {
    display: block;
    width: 28rem;
    height: 28rem;
    background-color: $color-secondary;
    position: absolute;
    left: 50%;
    margin-left: -14rem;
    margin-top: -10.5rem;
  }
  @include respond(phone) {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -7.5rem;
    width: 15rem;
    height: 15rem;
    background-color: $color-secondary;
  }
  @include respond(phone-small) {
    display: block;
    position: absolute;
    left: 50%;
    // top: 30%;
    width: 25rem;
    height: 25rem;
    margin-left: -12.6rem;
    background-color: $color-secondary;
  }
}

.ml-2-rem {
  margin-left: 2rem;
}

.in-bl {
  display: inline-block;
  color: var(--post-link);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;

  &:hover {
    color: var(--links);
    text-decoration: none;
    border-bottom: 1px solid $color-tertiary;
  }
}

.article__author {
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--links);
}
