.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  position: fixed;
  top: 1.7rem;
  left: 2rem;
  z-index: 11;

  &__text {
    color: var(--links);
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;

    &:hover {
      color: var(--links-hover);
      text-decoration: none;
    }
  }
}

/* Gooey button */
.button {
  -webkit-font-smoothing: antialiased;
  background-color: $color-secondary;
  border: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: $color-white;
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $color-tertiary;
    color: $color-secondary;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.95);
  }
}

.button__login {
  @include button;
  background-color: var(--color-headings);
  color: var(--bg);

  @include respond(phone-small) {
    padding: 0.4rem 0.6rem;
  }

  &:hover {
    background-color: var(--card-h2);
    color: $color-secondary;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.95);
  }

  &--del {
    @include button;
    color: $color-secondary;
    background-color: $alert-error;

    @include respond(phone-small) {
      padding: 0.4rem 0.6rem;
    }

    &:hover {
      text-decoration: none;
      color: $color-tertiary;
      background-color: var(--color-headings);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--showcase {
    @include button;
    background-color: $color-white;
    color: $color-secondary;

    &:hover {
      color: $color-secondary;
      text-decoration: none;
      background-color: $color-tertiary;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--text {
    @include button;
    background-color: var(--button);
    color: var(--bg-inversed);

    &:hover {
      @include button-hover;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
.add-image {
  cursor: pointer;

  &:hover {
    color: $color-secondary !important;
  }
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: var(--bg);
  background: var(--color-headings);

  &:hover {
    background: none;

    + {
      .button--bubble__effect-container {
        .circle {
          background: $color-tertiary;
        }
        .button {
          background: $color-tertiary;
        }
      }
    }
  }

  &:active {
    + {
      .button--bubble__effect-container {
        transform: scale(0.95);
      }
    }
  }
}
.button--bubble__container {
  position: relative;
  display: inline-block;
  top: 50%;
  margin-top: -25px;

  .effect-button {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
    background: $color-secondary;
    transition: background 0.1s ease-out;
  }
}
.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;

  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: $color-secondary;
    transition: background 0.1s ease-out;
  }

  .circle.top-left {
    top: 40%;
    left: 27%;
  }

  .circle.bottom-right {
    bottom: 40%;
    right: 27%;
  }
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;

  &-btn {
    margin-top: 4rem;

    @include respond(phone-small) {
      text-align: center;
    }
  }
}

.toggle-container {
  position: fixed;
  top: 3rem;
  left: 48%;
  z-index: 9999999999;

  @include respond(phone) {
    top: 2.5rem;
    left: 46.5%;
  }

  @include respond(phone-small) {
    top: 2.5rem;
    left: 44%;
  }
}
