/* Cards */
.cards {
  padding-top: 12rem;
}

/* Admin dashboard */
.card {
  border: none;

  &-body {
    font-family: "Montserrat", sans-serif;
  }

  &__description {
    color: var(--links);
  }

  &__title,
  &__email {
    font-weight: 500;
    color: var(--bg-inversed);
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    perspective: 100rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translateY(-50%) translateZ(5rem);
    color: $color-white;
    text-align: center;
    padding: 4rem;

    & .front-h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: var(--card-p);
    }

    & .back-h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: var(--card-h2);
    }

    & .front-p {
      color: var(--card-p);
      word-break: break-word;
      font-size: 1.3rem;
    }

    & .back-p {
      color: var(--card-back-p);
      word-break: break-word;
      font-size: 1.3rem;
    }

    &--image {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
}

@for $i from 1 through 30 {
  .card#{$i} {
    perspective: 100rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    width: 100%;
    height: 17rem;
    cursor: pointer;
  }

  .front#{$i} {
    perspective: 100rem;
    transform-style: preserve-3d;
    width: 100%;
    height: 20rem;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--card-gradient);
    box-shadow: 0 2rem 4rem -1.4rem rgba($color-black, 0.4);
    border-radius: 0.5rem;
    z-index: 2;
    transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .front#{$i} {
    transform: rotateX(0deg);
  }

  .front#{$i}.vertical.front-visible-#{$i} {
    transform: rotateX(180deg);
    z-index: 2;
  }

  .back#{$i} {
    perspective: 100rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    border: 1rem solid var(--card-border);
    box-shadow: 0 2rem 4rem -1.4rem rgba($color-black, 0.4);
    border-radius: 0.5rem;
    z-index: 1;
    transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .back#{$i}.vertical {
    transform: rotateX(-180deg);
  }

  .back#{$i}.vertical.back-visible-#{$i} {
    transform: rotateX(0deg);
    z-index: 2;
  }
}

.flips {
  position: relative;
}

$max: 100;

@for $i from 1 through $max {
  .back#{$i} {
    background-color: $color-secondary;
    & h2 {
      color: $color-white;
    }
  }
}

@for $i from 1 through 5 {
  .contact-front-#{$i} {
    border: 4px solid transparent;
  }
  .contact-back-#{$i} {
    background-color: $color-white;
    border: 4px solid $color-secondary;
  }
}

.contact-icons {
  font-size: 5rem;
  margin-bottom: 2rem;
  filter: drop-shadow(2px 4px 6px $color-secondary);
}

.borderline {
  height: 14rem;
  padding: 4rem 0;
}