/* Cards */
.cards {
  padding-top: 12rem;
}

/* Admin dashboard */
.card {
  border: none;

  &__title,
  &__description,
  &__email {
    color: $color-secondary;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    perspective: 100rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translateY(-50%) translateZ(5rem);
    color: $color-white;
    text-align: center;
    padding: 4rem;

    & h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: $color-tertiary;
    }

    & p {
      color: rgba(255, 255, 255, 0.85);
      word-break: break-word;
      font-size: 1.3rem;
    }

    &--image {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
}

@for $i from 1 through 30 {
  .card#{$i} {
    perspective: 100rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    width: 100%;
    height: 17rem;
    cursor: pointer;

    &:hover .ribbon-wrapper {
      opacity: 1;
    }
  }

  .front#{$i} {
    perspective: 100rem;
    transform-style: preserve-3d;
    width: 100%;
    height: 20rem;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to top,
      $color-black 0%,
      $color-secondary 52%,
      $color-secondary 100%
    );
    box-shadow: 0 2rem 4rem -1.4rem rgba($color-black, 0.4);
    border-radius: 0.5rem;
    z-index: 2;
    transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .front#{$i} {
    transform: rotateX(0deg);
  }

  .front#{$i}.vertical.front-visible-#{$i} {
    transform: rotateX(180deg);
    z-index: 2;
  }

  .back#{$i} {
    perspective: 100rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2rem 4rem -1.4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    z-index: 1;
    transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .back#{$i}.vertical {
    transform: rotateX(-180deg);
  }

  .back#{$i}.vertical.back-visible-#{$i} {
    transform: rotateX(0deg);
    z-index: 2;
  }
}

.flips {
  position: relative;
}

$max: 100;
$step: 4;

@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1) * $step + 1;

  .back#{$value} {
    background-color: $color-tertiary;
    & h2 {color: #6960c6;}
  }
}

@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1) * $step + 2;

  .back#{$value} {
    background-color: $alert-error;
    
    & h2 {color: #65de95;}
  }
}

@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1) * $step + 3;

  .back#{$value} {
    background-color: #65de95;
    & h2 {color: $alert-error;}
  }
}

@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1) * $step + 4;

  .back#{$value} {
    background-color: #6960c6;
    & h2 {color: $color-tertiary;}
  }
}
