.comments-counter {
    font-size: 3rem;
    margin: 2.5rem auto;
    color: var(--links);
}

.user-info-comments {
    .comments {
        margin: 2.5rem auto 0;
        max-width: 60.75rem;
        padding: 0 1.25rem;
    }

    .comment {
        &-tile {
            font-size: 1.8rem;
            font-weight: bold;
            color: $color-white
        }

        &-wrap {
            margin-bottom: 1.25rem;
            display: table;
            width: 100%;
            min-height: 5.3125rem;
        }

        &-block {
            padding: 1rem;
            background-color: $color-secondary;
            display: table-cell;
            vertical-align: top;
            border-radius: 0.1875rem;
            box-shadow: 0 1px 3px 0 rgba(var(--comment-block), 0.8);

            textarea {
                width: 100%;
                resize: none;
            }

            transition: all .5s;

            &:hover {
                transform: translateY(-.5rem);
                box-shadow: 6px 6px 9px rgba($color-black, 0.4);
            }
        }

        &-text {
            margin-bottom: 1.25rem;
            color: $color-white;
            font-size: 1.2rem;
        }

        &-date {
            float: left;
            margin-top: 1.5rem;

            @include respond(phone-small) {
                margin-top: 1rem;
            }
        }

    }
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
    shape-outside: circle();

    .avatar {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 1rem 1rem;
        box-shadow: 0 1px 3px 0 rgba(107, 107, 107, 0.8);
    }
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}
