.form {
  margin: 0 auto;
  width: 40%;
  padding-top: 6rem;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include respond(tab-land) {
    width: 50%;
  }

  &__errors {
    font-size: 1.15rem;
    text-align: center;
    border: 2px solid transparent;
    
    & ul li {
      color: var(--color-headings);
      font-size: 1.4rem;
    }
  }

  &__registration {
    margin: 0 auto;
    width: 80%;
    padding-top: 6rem;

    &__group:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include respond(tab-land) {
      width: 60%;
    }
  }

  &__contact {
    margin: 0 auto;
    width: 70%;
    padding-top: 6rem;

    &__group:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include respond(tab-land) {
      width: 60%;
    }
  }

  &__input {
    font-size: 1.3rem;
    font-family: inherit;
    // color: $color-white;
    color: var(--bg);
    padding: 0.5rem 0.7rem;
    border-radius: 0.2rem;
    // background-color: $color-secondary;
    background-color: var(--form-input);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &::selection {
      background-color: var(--bg);
      color: var(--bg-inversed);
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $alert-success;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $alert-error;
    }

    &::-webkit-input-placeholder {
      color: var(--bg);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: var(--color-headings);
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__add {
    &--btn {
      display: flex;
      justify-content: space-between;
    }
  }

  &__radio-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    color: var(--color-headings);

    // a {
    //   color: var(--)
    // }
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: 0.5rem solid var(--color-headings);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--card-h2);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
@for $i from 0 through 30 {
  #project_attachments_#{$i}_file,
  #project_imageFile_file {
    color: var(--bg-inversed);
  }
}
@for $i from 0 through 30 {
  #project_image_#{$i}_url,
  #project_content_#{$i}_content,
  #article_image_#{$i}_url,
  #article_content_#{$i}_content {
    float: left;
    width: 80%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  .delete_project_image_#{$i},
  .delete_article_image_#{$i} {
    float: left;
    width: 20%;
    margin-top: -2.3rem;
    padding: 0.45rem;
    border-radius: 0px;

    @include respond(tab-land) {
      padding: 0.35rem;
    }
    @include respond(tab-port) {
      padding: 0.4rem;
    }
  }
  .delete_project_content_#{$i},
  .delete_article_content_#{$i} {
    float: left;
    width: 20%;
    margin-top: -2.3rem;
    padding: 2rem;
    border-radius: 0px;

    @include respond(tab-port) {
      padding: 2.15rem;
    }
  }

  #block_project_image_#{$i}::after,
  #block_project_content_#{$i}::after,
  #block_article_image_#{$i}::after,
  #block_article_content_#{$i}::after {
    content: "";
    clear: both;
    display: table;
  }
}

#block_project_image_0,
#block_article_image_0 {
  margin-top: -0.75rem;
}

.fa-exclamation-circle {
  color: $alert-error;
}

.agree-message {
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-headings);
}

.inputfile {
  width: 40%;
  margin: 0 auto;
}
