.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 10rem auto;
  font-size: 1rem;
  position: relative;
  // text-indent: -9999em;
  border-top: 1.1em solid $gray-opacity;
  border-right: 1.1em solid $gray-opacity;
  border-bottom: 1.1em solid $gray-opacity;
  border-left: 1.1em solid $color-tertiary;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-secondary;
  z-index: 100000000000;
}

.loading {
  &__text {
    color: $color-tertiary;
    margin-bottom: 33rem;
  }

  &__sentence {
    color: var(--color-text);
    font-size: 1.9rem;
    display: block;
  }
}
