.resume {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 109rem;
  h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  h2 {
    font-size: 1.43em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: 2rem;
  }
  li {
    font-size: 1.6rem;
  }
  .resume__header {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95em;
    padding: 6em 4em 0;
  }
  .resume__section {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95em;
    margin-bottom: 4em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .resume__content {
    position: relative;
  }
  .resume__section-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.43em;
    > i {
      margin-right: 0.63em;
      font-size: 1.14em;
      background-color: $color-tertiary;
      color: $color-secondary;
      border: 0.25em solid #ffbd41a6;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.6;
    }
    > h2 {
      margin-top: 0;
      font-size: 1.5em;
    }
    .fas.fa-edit {
      padding-left: .5rem;
    }
  }
  .resume__columns {
    overflow: hidden;
    padding-top: 0;
  }
  .resume__text {
      width: 45%;
  }
  .other-info {
    p {
      > b {
        color: #555;
      }
    }
  }
  .info-item {
    margin-bottom: 0.2em;
    font-weight: 300;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .info-label {
    display: inline-block;
    padding-right: 0.63em;
    font-size: 1.14em;
    min-width: 2.19em;
    text-align: center;
    i {
      color: $color-tertiary;
    }
  }
  .xp-item {
    margin-bottom: 4em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .xp-job {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.25;
    span {
      font-weight: 400;
    }
    small {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
  .xp-date {
    font-size: 1.3rem;
    margin-top: 0.3em;
    margin-bottom: 1em;
    color: #695fc6;
  }
  .extra {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .extra-info {
    font-size: 1.6rem;

    small {
      font-size: 1.2rem;
      color: #666;
      display: inline-block;
    }
  }
  .extra-details {
    border-radius: 6px;
    margin-top: 0.5em;
    background-color: #d1d9e1;
    width: 100%;
    height: 5px;
    position: relative;
  }
  .extra-details__progress {
    border-radius: 6px;
    background-color: $color-tertiary;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .lang-item {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .lang-label {
    width: 8em;
  }
}
