.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-secondary;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;

  @include respond(tab-land) {
    height: 80px;
    width: 100%;
    padding-top: 0px;

    overflow-y: hidden;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  margin-left: 100px;
  transition: margin-left 0.5s;
  padding: 16px;

  @include respond(tab-land) {
    padding-top: 6rem;
    margin-left: 0px;
  }

  @include respond(tab-port) {
    padding-top: 12rem;
    margin-left: 0px;
  }
}

.nav__list {

  @include respond(tab-land) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  
}