#main {
  transition: margin-left 0.5s;
  padding: 1.6rem;
  padding-top: 6rem;

  padding-bottom: 8rem;
}

.nav__list {

  @include respond(tab-land) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
  }
}

.z-depth-0 {
  border: none;
  margin-bottom: 2rem;
  transition: all .5s;
  cursor: pointer;

  &:hover, &:focus, &:active {
    background: #ffffff;
    box-shadow: 2rem 2rem 6rem #d9d9d9, -2rem -2rem 6rem #ffffff;
  }
}

.users__list, .projects__list {
  background-color: rgba(0,0,0,.03);
}

#headingTwo2, #headingOne2{
  border-bottom: 0px solid transparent;
}

.card__bg {
  background-color: $color-secondary;
}