header {
  display: flex;
  height: 100vh;

  justify-content: center;
  position: relative;
}
.hero {
  width: 85rem;
  max-height: 18vh;
  align-self: center;
  margin: 0 auto 6rem auto;

  @include respond(tab-port) {
    width: 65rem;
  }

  @include respond(phone) {
    width: 35rem;
  }

  &__text {
    font-family: "Montserrat", Sans-serif;
    font-stretch: expanded;
    font-size: 13rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-secondary;
    animation: movingH1 10s infinite;
    text-align: center;

    @include respond(tab-port) {
      font-size: 10rem;
    }

    @include respond(phone) {
      font-size: 5rem;
    }
  }

  &__chess1 {
    position: relative;
    height: 56vh;
    background-image: url(../../images/chess_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 38%;
    top: 95%;
    left: 84%;
    transform: translate(-50%, -17%);
    animation: chess1 250s infinite;
    width: 26vw;
  }

  &__chess2 {
    position: relative;
    height: 56vh;
    background-image: url(../../images/chess_2-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 38% 61%;
    background-size: 40%;
    bottom: 200%;
    left: 20%;
    transform: translate(-50%, -138%);
    width: 26vw;
    animation: chess2 100s infinite;
  }

  &__chess3 {
    position: relative;
    height: 90vh;
    background-image: url(../../images/chess_3-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 40%;
    bottom: 400%;
    left: 75%;
    width: 32%;
    transform: translate(-50%, -192%);
    animation: chess3 100s infinite;
  }

  &__chess1, &__chess2, &__chess3 {
    @include respond(tab-port) {
      display: none;
    }
    // @include respond(phone) {
    //   display: none;
    // }
  }
}
