/* sections */
.about {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  // height: 75vh;
  position: relative;

  &__right {
    background-image: url(../../images/mf_doom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23vh;

    // @include respond(tab-land) {
    //   margin-top: 5rem;
    // }

    // @include respond(tab-port) {
    //   margin-top: 5rem;
    // }

    // @include respond(phone) {
    //   margin-top: 5rem;
    // }
  }

  &__left {
    margin-right: 3rem;

    @include respond(tab-land) {
      margin-right: 0;
    }

    @include respond(tab-port) {
      margin-right: 0;
    }

    @include respond(phone) {
      margin-right: 0;
    }

    &--text {
      color: $color-gray;
      // font-size: 1.8rem;
      text-align: justify;

      @include respond(phone) {
        @include fontsize(22);
      }
      @include respond(tab-port) {
        @include fontsize(18);
      }
      @include respond(desktop) {
        @include fontsize(10);
      }
    }

    &--title {
      color: $color-secondary;
      font-family: "Montserrat", Sans-serif;
      font-weight: 800;
      margin-bottom: 1.5rem;

      @include respond(phone) {
        @include fontsize(30);
      }
      @include respond(tab-port) {
        text-align: center;
        @include fontsize(21);
      }
      @include respond(desktop) {
        @include fontsize(20);
      }
    }
  }
}
