@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin shadow {
  box-shadow: -6px -6px 9px var(--bg), 6px 6px 9px rgba($color-secondary, 0.4);
}

@mixin shadow-inset {
  box-shadow: inset -6px -6px 9px $color-white,
    inset 6px 6px 9px rgba($color-black, 0.4);
}

@mixin button {
  -webkit-font-smoothing: antialiased;
  border: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

@mixin button-hover {
  background-color: var(--card-back-p);
  color: $color-secondary;
}

@mixin button-hover-delete {
  background-color: $color-tertiary;
  color: $color-secondary;
  text-decoration: none;
}
// Media Query Manager
/*
0 - 600px:         Phone
600 - 900px:       Tablet Portrait
900 - 1200px:      Tablet Landscape
[1200 - 1800px]:   Is where our normal styles apply
1800px + :         Big Desktop
*/

/*
$breakpoint argument choixes:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media only screen and (max-width: 25em) {
      @content;
    } // phone-small = 400px / 16px = 25em
  }
  @if $breakpoint == phone-mid {
    @media only screen and (min-width: 25.0625em) and (max-width: 28.125em) {
      @content;
    } // phone-mid = between 401px / 16px = 250625em and 450px / 16px = 28.125em
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // phone = 600px / 16px = 37.5em
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // tab-port = 900px / 16px = 56.25em
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // tab-land = 1200px / 16px = 75em
  }
  @if $breakpoint == big-desktop {
    @media only screen and (mmin-width: 112.5em) {
      @content;
    } // big-desktop = 1800+px / 16px = 112.5em
  }
}
