// COLORS
$color-primary: #55c57a;

$color-secondary: #27282c;

$color-tertiary: #ffbe41;

$color-white: #fff;
$color-black: #000;
$color-gray: rgb(107, 107, 107);
$color-gray-btn: #aeaeae;
$gray-opacity: rgba(255, 255, 255, 0.2);
$text-alpha: rgb(233, 233, 233);
$alert-success: #20bf6b;
$alert-error: #eb4d4b;

$color-flag: rgb(0, 204, 255);
$color-function: rgb(241, 155, 169);
$post-link: #695fc6;
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 2rem;