#main-1 {
  transition: margin-left 0.5s;
  padding: 1.6rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.card-header {
  color: $color-white;
}

.nav__list {
  @include respond(tab-land) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
  }
}

.z-depth-0 {
  border: none;
  margin-bottom: 2rem;
  transition: all 0.5s;
  border-radius: 5px;
  background-color: var(--color-headings);

  &:hover,
  &:focus,
  &:active {
    @include shadow;
  }

  & h3,
  i {
    color: var(--bg);
  }
}

.users__list,
.projects__list {
  background-color: rgba(0, 0, 0, 0.03);
}

#headingTwo2,
#headingOne2 {
  border-bottom: 0 solid transparent;
}

.card__bg {
  background-color: var(--bg);
}

.fa-crown {
  color: $color-tertiary !important;
  margin-left: 1rem;
  font-size: 3.2rem;
  float: right;
}
.fa-trash-alt {
  font-size: 1.4rem;
  color: $color-white;

  @include respond(phone-small) {
    font-size: 1rem;
  }
}

.card-img-top {
  margin: 0 auto;
}

.heading-admin {
  align-items: center;
  margin-top: 0.5rem;
}
