/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65vh;
  background: var(--links);
  z-index: -1;
  text-align: justify;

  @include respond(tab-port) {
    height: 65vh;
  }

  @include respond(phone) {
    height: 85vh;
  }

  @include respond(phone-small) {
    height: 84.6vh;
  }

  &__title {
    font-size: 2rem;
  }

  &__slashflex {
    font-size: 3rem;
    font-weight: 800;
    color: var(--card-p);
    transition: all 0.9s;
    font-family: "Montserrat", Sans-serif;

    &:hover {
      text-shadow: 0 0 1vw var(--card-p);
    }
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &-copyright {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--bg);

    &--link {
      color: var(--card-p);
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      transition: all 0.5s;
      padding: 0 0.4rem;

      &:hover {
        background-color: $color-secondary;
        color: $color-tertiary;
        padding: 0 0.4rem;
        text-decoration: none;
        box-shadow: 0 0 10px $color-black;
        transform: rotate(4deg) scale(1.1);
      }
    }
  }

  & p {
    color: var(--bg);
  }
}

.menu-footer {
  padding-bottom: 1rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-top: 3rem;

  .footer-nav {
    &__list {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      display: inline;
      margin: 0 1rem;
    }

    &__link {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 4rem;

      @include respond(tab-land) {
        font-size: 3rem;
      }
    }

    &__icon {
      transition: all 0.5s;

      &:hover {
        transform: scale(1.4) rotate(10deg);
        color: var(--color-headings);
      }
    }

    &__icons {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    &__social {
      color: var(--bg);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 3rem;

      @include respond(phone) {
        font-size: 2rem;
      }

      @include respond(tab-port) {
        font-size: 2.2rem;
      }
    }

    &__menu {
      transition: all 0.5s;

      &:hover {
        transform: scale(1.4) rotate(10deg);
        color: var(--card-h2);
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  }
}

.portfolio {
  color: var(--comment-block);
  font-size: 5rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  transform: rotateZ(0270deg) rotateX(0deg) rotateY(0deg) scale(1)
    translateX(0px) translateY(0px) translateZ(0px);
  margin-top: 5rem;
  margin-left: -26rem;
}
