.intro {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.header__blog {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem;
  background-size: 50%;
  background-position: center;

  @include respond(tab-land) {
    background-size: 100%;
  }

  @include respond(tab-port) {
    background-size: 100%;
  }

  // @include respond(phone-small) {
  //   background-size: 100%;
  // }
}

.header__projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 85rem;
  max-height: 18vh;
  align-self: center;
  margin: 0 auto 6rem auto;

  @include respond(tab-port) {
    width: 65rem;
    margin-bottom: 0;
  }

  @include respond(phone) {
    width: 35rem;
  }

  @include respond(phone-small) {
    width: 35rem;
    margin-bottom: 50rem;
  }

  @include respond (phone-mid) {
    margin-bottom: 64rem;
  }

  &__error {
    max-height: 18vh;
    align-self: center;
    margin: 0 auto 6rem auto;

    @include respond(tab-port) {
      width: 65rem;
    }

    @include respond(phone) {
      width: 20rem;
    }
  }

  &__oops {
    font-family: "Montserrat", Sans-serif;
    font-weight: 800;
    font-size: 10rem;
    color: var(--links);

    @include respond(phone) {
      font-size: 5rem;
    }

    @include respond(phone-small) {
      font-size: 5rem;
    }
  }

  &__code {
    // background-color: $color-secondary;
    background-color: var(--links);
    color: var(--bg);
  }

  &__home {
    color: $color-gray;
    font-size: 2rem;
    transition: all 0.5s;
    margin: 1rem auto 8rem auto;
    display: inline-block;

    &:hover i,
    &:hover {
      text-decoration: none;
      // color: $color-secondary;
      color: var(--links);
      transform: scale(1.2) translateX(-0.5rem);
      transition: all 0.5s;
    }
  }

  &__text {
    font-family: "Montserrat", Sans-serif;
    font-stretch: expanded;
    font-size: 13rem;
    font-weight: 900;
    text-transform: uppercase;
    // color: $color-white;
    color: var(--bg);
    // background-color: $color-secondary;
    background-color: var(--bg-inversed);
    animation: movingH1 10s infinite;
    text-align: center;

    @include respond(tab-port) {
      font-size: 10rem;
    }

    @include respond(phone) {
      font-size: 5rem;
    }
  }

  &__chess1 {
    position: relative;
    height: 56vh;
    background-image: url(/build/images/chess_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 38%;
    top: 95%;
    left: 84%;
    transform: translate(-50%, -17%);
    animation: chess1 250s infinite;
    width: 26vw;
  }

  &__chess2 {
    position: relative;
    height: 56vh;
    background-image: url(/build/images/chess_2-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 38% 61%;
    background-size: 40%;
    bottom: 200%;
    left: 20%;
    transform: translate(-50%, -138%);
    width: 26vw;
    animation: chess2 100s infinite;
  }

  &__chess3 {
    position: relative;
    height: 90vh;
    background-image: url(/build/images/chess_3-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 40%;
    bottom: 400%;
    left: 75%;
    width: 32%;
    transform: translate(-50%, -192%);
    animation: chess3 100s infinite;
  }

  &__chess1,
  &__chess2,
  &__chess3 {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__projects {

    // @include respond (tab-port) {
    //   width: 42%;
    // }
    // @include respond (phone) {
    //   width: 80%;
    // }
    // @include respond (phone-small) {
    //   width: 80%;
    // }
  }
}

.code {

  &__401,
  &__403,
  &__404 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      top: 40%;
    }

    @include respond(phone-small) {
      top: 50%;
    }
  }
}

.gif {
  width: 50%;

  @include respond(tab-port) {
    width: 65%;
  }

  @include respond(phone) {
    width: 40%;
  }

  @include respond(phone-small) {
    width: 60%;
  }
}