/* Stack */
.stack {

  &__text {
    text-align: center;
    padding-top: 5rem;

    &--recent {
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: 100;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: -3.4rem;
      position: relative;

      @include respond(phone) {
        font-size: 2.5rem;
        margin-bottom: -2.4rem;
      }
    }

    &--projects {
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: 100;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: -1.4rem;
      position: relative;

      @include respond(phone) {
        font-size: 2.5rem;
        margin-bottom: -2.4rem;
      }
    }

    &--stack {
      font-size: 4.5rem;
      font-weight: 800;
      font-family: "Montserrat", Sans-serif;
      margin-bottom: -7.2rem;
      position: relative;

      @include respond(phone) {
        font-size: 3.5rem;
        margin-bottom: -5.2rem;
      }
    }

    &--sub {
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 200;
      line-height: 1;
      color: $text-alpha;
      letter-spacing: .2rem;

      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }
}
