/* sections */
.about {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  position: relative;

  &__right img {
    width: 100%;
    margin-top: -6rem;

    @include respond(tab-land) {
      margin-top: 0;
    }
    @include respond(tab-port) {
      margin-top: 0;
    }
    @include respond(phone) {
      padding-top: -4rem;
    }
  }

  &__left {
    margin-right: 3rem;

    @include respond(tab-land) {
      margin-right: 0;
    }

    @include respond(tab-port) {
      margin-right: 0;
    }

    @include respond(phone) {
      margin-right: 0;
    }

    &--text {
      color: $color-gray;
      font-size: 1.7rem;
      text-align: justify;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }

    &--title {
      color: $color-secondary;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 3rem;
      margin-bottom: 1.5rem;

      @include respond(phone) {
        font-size: 2.5rem;
        text-align: center;
      }
    }
  }
}
