<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to slashflex.io!</title>
</head>
<body>
    <div class="body">
        <div class="container">
            {# <div class="content"> #}
            {# <img src="{{absolute_url(asset('/images/slashflex.png')) }}" alt=""> #}
                {# <h1>{{token}}</h1> #}
                <a style="color:black" href="{{url('confirm_account', {'token': token})}}">confirm</a>
            {# </div> #}
        </div>
    </div>
</body>
</html>