{% extends "base.html.twig" %}

{% block body %}
    <!-- Logo -->
    {% include "partials/_top_buttons.html.twig" %}

    <!-- Fullscreen Navigation -->
    {% include "partials/_fullscreen_nav.html.twig" %}

    <div class="code__401">
        <div class="gif mx-auto">
            <img src="https://i.imgur.com/qhMbkGi.jpg" alt="Confused John Travolta" class="mx-auto w-100">
        </div>

        <div class="hero__error">
            <div class="hero__text">
                <p class="hero__code">401</p>
            </div>
            <p class="text-center hero__oops">oops!</p>
        
            <div class="go-home text-center hero__home">
                <a href="{{ path('home') }}"><i class="fas fa-chevron-left"></i> Go home</a>
            </div>
        </div>
    </div>
{% endblock %}