{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div id="main">
		{% include "partials/_nav_bar.html.twig" %}

		<!-- Edit user Form -->
		{% include "partials/_form_edit_user.html.twig" %}
	</div>
	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}
