{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<main id="main">
		<section class="resume">
			<div class="container">
				<div class="row">
					<div class="sheet">
						<div class="two-column resume">
							<section class="resume__section resume__header d-flex justify-content-between align-items-center">
								<div class="resume__content">
									<h3>David Saoud</h3>
									<div class="info-item">
										<span class="info-label">
											<i class="fa fa-location-arrow"></i>
										</span>
										<span class="info-text">15 A, Rue de la voûte, 56100 Lorient, France</span>
									</div>
									<div class="info-item">
										<span class="info-label">
											<i class="fa fa-envelope"></i>
										</span>
										<span class="info-text">pro.davidsaoud@gmail.com</span>
									</div>
									<div class="info-item">
										<span class="info-label">
											<i class="fa fa-phone"></i>
										</span>
										<span class="info-text">+33 6 37 88 80 61</span>
									</div>
									<div class="info-item">
										<span class="info-label">
											<i class="fab fa-github"></i>
										</span>
										<span class="info-text">https://github.com/Slashflex</span>
									</div>
									<div class="info-item">
										<span class="info-label">
											<i class="fa fa-globe"></i>
										</span>
										<span class="info-text">https://slashflex.io</span>
									</div>
								</div>
								<div class="d-flex flex-row-reverse" style="position: relative">
									<img style="width: 40%; border-radius: 50%; background-color: #ffbe41; padding: 1.3rem; box-shadow: 0 1px 8px black;" src="/build/images/profil.png" alt="David Saoud">
								</div>
							</section>
							<div class="resume__columns">
								<div class="stack__text" style="padding-top: 0; padding-bottom: 12rem">
									<div class="stack__text--projects" style="font-size: 2.5rem">Developpeur</div>
									<div class="stack__text--stack" style="font-size: 3.5rem">WEB</div>
								</div>
								<div class="resume__main col-12">
									<section class="resume__section resume__summary">
										<div class="resume__content">
											<div class="resume__section-title">
												<i class="fas fa-edit"></i>
												<h2>Parcours professionnel</h2>
											</div>
											<div class="other">
												<div class="other-info">
													<p>Développeur Web junior capable de créer une présence Web à partir de zéro - du concept, de la navigation, de la mise en page et de la programmation à l'UX et au référencement.
                                                        <br>Habile à écrire du code bien conçu, testable et efficace en utilisant les meilleures pratiques actuelles en développement Web.
                                                        <br>Apprenant rapide, travailleur acharné et aimant travailler en équipe, maîtrisant un large éventail de langages de script et d'outils Web multimédias.
                                                    </p>
												</div>
											</div>
										</div>
									</section>

									<section class="resume__section resume__experience">
										<div class="resume__content">
											<div class="resume__section-title">
												<i class="fa fa-briefcase"></i>
												<h2>Formation</h2>
											</div>
											<div class="xp-item">
												<div class="xp-job">Concepteur Développeur d'Applications - Niveau licence (Niveau II (FR) 6 (Eu))
													<span>@ Greta</span><br/><small>56100 Vannes, France</small>
												</div>
												<div class="xp-date">Jan. 2020 – Nov. 2020</div>
												<div class="xp-detail">
													<ul>
														<li>Développer la partie front-end et back-end d'une interface utilisateur</li>
														<li>Concevoir et mettre en place une base de données</li>
														<li>Concevoir des applications organisée en couches (4-tier)</li>
														<li>Préparer et exécuter le déploiement en production d'application(s)</li>
														<li>Développer des API qui interagissent avec un serveur de base de données</li>
														<li>Utilisez des protocoles sécurisés pour interagir avec une base de données</li>
													</ul>
												</div>
											</div>
											<div class="xp-item">
												<div class="xp-job">Developpeur integrateur en réalisations d'applications web - Niveau BTS / DUT (Niveau III (FR) 5 (Eu))
													<span>@ Greta</span><br/><small>56100 Vannes, France</small>
												</div>
												<div class="xp-date">Oct. 2018 – Jul. 2019</div>
												<div class="xp-detail">
													<ul>
														<li>PHP - Programmation Orientée Objet avec modèle MVC</li>
														<li>HTML5 / CSS3 / SASS / Javascript</li>
														<li>Serveurs web - Apache / NginX / NodeJs</li>
														<li>Cadriciels - Symfony 4 / 5, Ruby On Rails, Express</li>
														<li>Gestion de bases de données</li>
														<li>Responsive design et mobile first</li>
														<li>Interface de ligne de commandes (Composer, Ruby, NPM & Linux)</li>
														<li>Outils collaboratifs et méthode agile - ZenHub, Git & GitHub, Kanban board</li>
													</ul>
												</div>
											</div>

											<div class="resume__section-title">
												<i class="fa fa-briefcase"></i>
												<h2>Stages en entreprise</h2>
											</div>
											<div class="xp-item">
												<div class="xp-job">Developpeur PHP Back End 
													<span>@ Iole Solutions</span><br/><small>56100 Vannes, France</small>
												</div>
												<div class="xp-date">Jun. 2020 – Aug. 2020</div>
												<div class="xp-detail">
													<ul>
														<li>Concevoir, créer et maintenir des sites Web en utilisant PHP natif et PostgreSQL</li>
														<li>Créer des outils de langage de script</li>
														<li>Automatisez les tâches de développement, de création et de déploiement</li>
														<li>Maintenir la compréhension des technologies Web actuelles et des pratiques de programmation grâce à la formation continue, à la veille technologique et au partage des connaissances</li>
														<li>Développer des bases de données prenant en charge les applications Web et les sites Web</li>
														<li>Développer et documenter des directives de style pour le contenu du site Web</li>
														<li>Recommander et mettre en œuvre des améliorations de performances</li>
														<li>Développement d'un module d'édition de documents pdf</li>
													</ul>
												</div>
											</div>
											<div class="xp-item">
												<div class="xp-job">Developpeur Full Stack 
													<span>@ Association Tutti Gruppi</span><br/><small>56100 Vannes, France</small>
												</div>
												<div class="xp-date">Mar. 2019 – Jul. 2019</div>
												<div class="xp-detail">
													<ul>
														<li>Conception et développement d'un site e-commerce en utilisant le framework Ruby On Rails, SASS, Javascript et serveur Web NGinX</li>
														<li>Conception et développement de base de données sécurisée fonctionnant sur MySQL dans un environement de production</li>
														<li>Pair programming et méthode agile</li>
														<li>Environement de staging</li>
														<li>Fournir de la documentation pour l'application existante</li>
													</ul>
												</div>
											</div>
										</div>
									</section>
								</div>

								<div class="resume__side px-5">
									<section class="resume__section resume__skills">
										<div class="resume__content">
											<div class="resume__section-title">
												<i class="fa fa-align-center"></i>
												<h2>Compétences</h2>
											</div>
											<div class="d-flex justify-content-between">
												<div class="resume__text">
													<div class="extra">
														<div class="extra-info">PHP<br/>
															<small>
																<i class="fab fa-php"></i>
																PHP 7 ·
																<i class="fab fa-symfony"></i>
																Symfony 4 & 5
															</small>
														</div>
														<div class="extra-details">
															<div class="extra-details__progress" style="width:70%"></div>
														</div>
													</div>
													<div class="extra">
														<div class="extra-info">JavaScript<br/>
															<small>
																<i class="fab fa-node-js"></i>
																NodeJS ·
																<i class="devicon-express-original"></i>
																Express ·
																<i class="devicon-jquery-plain"></i>
																JQuery
															</small>
														</div>
														<div class="extra-details">
															<div class="extra-details__progress" style="width:75%"></div>
														</div>
													</div>
													<div class="extra">
														<div class="extra-info">HTML<br/>
															<small>
																<i class="fab fa-bootstrap"></i>
																HTML5 · Twig ·
																<i class="fab fa-markdown"></i>
																Markdown · Pug · Blade
															</small>
														</div>
														<div class="extra-details">
															<div class="extra-details__progress" style="width:100%"></div>
														</div>
													</div>
												</div>
												<div class="resume__text">
													<div class="extra">
														<div class="extra-info">CSS<br/>
															<small>
																<i class="fab fa-sass"></i>
																Sass ·
																<i class="fab fa-bootstrap"></i>
																Bootstrap
															</small>
														</div>
														<div class="extra-details">
															<div class="extra-details__progress" style="width:100%"></div>
														</div>
													</div>
													<div class="extra">
														<div class="extra-info">Bases de données<br/>
															<small>
																<i class="devicon-postgresql-plain"></i>
																PostgreSQL ·
																<i class="devicon-mysql-plain"></i>
																MySQL ·
																<i class="devicon-mongodb-plain"></i>
																MongoDB
															</small>
														</div>
														<div class="extra-details">
															<div class="extra-details__progress" style="width:80%"></div>
														</div>
													</div>
													<div class="extra">
														<div class="extra-info">Systèmes d'exploitation<br/>
															<small>
																<i class="fab fa-linux"></i>
																GNU/Linux ·
																<i class="fab fa-windows"></i>
																Windows
															</small>
														</div>
														<div class="extra-details">
															<div class="extra-details__progress" style="width:90%"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<section class="resume__section resume__languages">
										<div class="resume__content">
											<div class="resume__section-title">
												<i class="fa fa-globe"></i>
												<h2>Langues</h2>
											</div>
											<div class="extra">
												<div class="extra-info">Français
													<small>(maternel)</small>
												</div>
												<div class="extra-details">
													<div class="extra-details__progress" style="width:100%"></div>
												</div>
											</div>
											<div class="extra">
												<div class="extra-info">Anglais technique
                                                    <small>(courant)</small>
                                                </div>
												<div class="extra-details">
													<div class="extra-details__progress" style="width:85%"></div>
												</div>
											</div>
										</div>
									</section>
                                    <section class="resume__section resume__languages">
										<div class="resume__content">
											<div class="resume__section-title">
												<i class="fas fa-gamepad"></i>
												<h2>Centres d'interêts</h2>
											</div>
											<div class="extra d-flex">
                                                <div class="extra-info mr-5">Sports<br/>
                                                    <small>
                                                        <i class="fas fa-skiing"></i>
                                                        Ski ·
                                                        <i class="fas fa-bicycle"></i>
                                                        VTT ·
                                                        <i class="fas fa-swimmer"></i>
                                                        Plongée
                                                    </small>
                                                </div>
                                                <div class="extra-info ml-5">Jeux vidéos<br/>
                                                    <small>
                                                        <i class="fas fa-chess"></i>
                                                        Stratégie
                                                    </small>
                                                </div>
                                                <div class="extra-info mr-5 ml-5">Voyages</div>
                                            </div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
