{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <main id="main">
        <section class="resume">
            <div class="container">
                <div class="row">
                    <div class="sheet">
                        <div class="two-column resume">
                            <section class="resume__section resume__header d-flex justify-content-between align-items-center">
                                <div class="resume__content">
                                    <h3>David Saoud</h3>
                                    <div class="info-item">
                                        <span class="info-label">
                                            <i class="fa fa-location-arrow"></i>
                                        </span>
                                        <span class="info-text">15 A, Rue de la voûte, 56100 Lorient, France</span>
                                    </div>
                                    <div class="info-item">
                                        <span class="info-label">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <span class="info-text">pro.davidsaoud@gmail.com</span>
                                    </div>
                                    <div class="info-item">
                                        <span class="info-label">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <span class="info-text">+33 6 37 88 80 61</span>
                                    </div>
                                    <div class="info-item">
                                        <span class="info-label">
                                            <i class="fab fa-github"></i>
                                        </span>
                                        <span class="info-text">https://github.com/Slashflex</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row-reverse" style="position: relative">
									<img style="width: 40%; border-radius: 50%; background-color: #ffbe41; padding: 1.3rem; box-shadow: 0 1px 8px black;" src="/build/images/profil.png" alt="David Saoud">
								</div>
                            </section>
                            <div class="resume__columns">
                                <div class="stack__text" style="padding-top: 0px; padding-bottom: 12rem">
                                    <div class="stack__text--projects" style="font-size: 2.5rem">Web</div>
                                    <div class="stack__text--stack" style="font-size: 3.5rem">DEVELOPER</div>
                                </div>
                                <div class="resume__main col-12">
                                    <section class="resume__section resume__summary">
                                        <div class="resume__content">
                                            <div class="resume__section-title">
                                                <i class="fas fa-edit"></i>
                                                <h2>Professional Summary</h2>
                                            </div>
                                            <div class="other">
                                                <div class="other-info">
                                                    <p>Junior Web developer able to build a Web presence from the ground up - from concept, navigation, layout and programming to UX and SEO. <br>Skilled at writing well-designed, testable and efficient code using current best practices in Web development. <br>Fast learner, hard worker and team player who is proficient in an array of scripting languages and multimedia Web tools.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="resume__section resume__experience">
                                        <div class="resume__content">
                                            <div class="resume__section-title">
                                                <i class="fa fa-briefcase"></i>
                                                <h2>Formation</h2>
                                            </div>
                                            <div class="xp-item">
                                                <div class="xp-job">Application designer - License level (Level II (FR) 6 (Eu))
                                                    <span>@ Greta</span><br/><small>56100 Vannes, France</small>
                                                </div>
                                                <div class="xp-date">Jan. 2020 – Nov. 2020</div>
                                                <div class="xp-detail">
                                                    <ul>
                                                        <li>Develop the front-end and back-end part of a UI</li>
                                                        <li>Design and set up a database</li>
                                                        <li>Build an app organized in layers (4-tier)</li>
                                                        <li>Prepare and execute the production deployment of an app</li>
                                                        <li>Develop an API that interacts with a database server</li>
                                                        <li>Use a secure protocol to interact with the database</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="xp-item">
                                                <div class="xp-job">Developer integrator in production web applications - BTS / DUT level (Level III (FR) 5 (Eu)
                                                    <span>@ Greta</span><br/><small>56100 Vannes, France</small>
                                                </div>
                                                <div class="xp-date">Oct. 2018 – Jul. 2019</div>
                                                <div class="xp-detail">
                                                    <ul>
                                                        <li>PHP - Object Oriented Programming with MVC pattern</li>
                                                        <li>HTML5 / CSS3 / SASS / Javascript</li>
                                                        <li>Apache / NginX / NodeJs web servers</li>
                                                        <li>Symfony 4 / 5, Ruby On Rails, Express frameworks</li>
                                                        <li>Management of databases</li>
                                                        <li>Responsive design with "mobile first" in mind</li>
                                                        <li>Command Line Interface (Composer, Ruby, NPM & Linux)</li>
                                                        <li>Collaborative tools and agile method - ZenHub, Git & GitHub, Kanban board</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="resume__section-title">
                                                <i class="fa fa-briefcase"></i>
                                                <h2>Internships</h2>
                                            </div>
                                            <div class="xp-item">
                                                <div class="xp-job">Back End PHP Developer
                                                    <span>@ Iole Solutions</span><br/><small>56100 Vannes, France</small>
                                                </div>
                                                <div class="xp-date">Jun. 2020 – Aug. 2020</div>
                                                <div class="xp-detail">
                                                    <ul>
                                                        <li>Design, build or maintain web sites using native PHP and PostgreSQL</li>
                                                        <li>Create scripting language tools</li>
                                                        <li>Automate dev, builds and deploy tasks</li>
                                                        <li>Maintain understanding of current web technologies or programming practices through continuing education, reading and sharing knowledge</li>
                                                        <li>Develop databases that support web applications and web sites</li>
                                                        <li>Develop and document style guidelines for web site content</li>
                                                        <li>Recommend and implement performance improvements</li>
                                                        <li>Development of a module for editing pdf documents</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="xp-item">
                                                <div class="xp-job">Full Stack Developer
                                                    <span>@ Association Tutti Gruppi</span><br/><small>56100 Vannes, France</small>
                                                </div>
                                                <div class="xp-date">Mar. 2019 – Jul. 2019</div>
                                                <div class="xp-detail">
                                                    <ul>
                                                        <li>Design and development of an e-commerce site using Ruby On Rails framework, SASS, Javascript and NGinX Web server</li>
                                                        <li>Design and development of production database running on MySQL</li>
                                                        <li>Pair programming and agile method</li>
                                                        <li>Staging environement</li>
                                                        <li>Provide documentation for existent application</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="resume__side px-5">
                                    <section class="resume__section resume__skills">
                                        <div class="resume__content">
                                            <div class="resume__section-title">
                                                <i class="fa fa-align-center"></i>
                                                <h2>Skills</h2>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="resume__text">
                                                    <div class="extra">
                                                        <div class="extra-info">PHP<br/>
                                                            <small>
                                                                <i class="fab fa-php"></i> PHP 7 · 
                                                                <i class="fab fa-symfony"></i> Symfony 4 & 5
                                                            </small>
                                                        </div>
                                                        <div class="extra-details">
                                                            <div class="extra-details__progress" style="width:70%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="extra">
                                                        <div class="extra-info">JavaScript<br/>
                                                            <small>
                                                                <i class="fab fa-node-js"></i> NodeJS · 
                                                                <i class="devicon-express-original"></i> Express · 
                                                                <i class="devicon-jquery-plain"></i> JQuery
                                                            </small>
                                                        </div>
                                                        <div class="extra-details">
                                                            <div class="extra-details__progress" style="width:75%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="extra">
                                                        <div class="extra-info">HTML<br/>
                                                            <small>
                                                                <i class="fab fa-bootstrap"></i> HTML5 · Twig · 
                                                                <i class="fab fa-markdown"></i> Markdown · Pug · Blade
                                                            </small>
                                                        </div>
                                                        <div class="extra-details">
                                                            <div class="extra-details__progress" style="width:100%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="resume__text">
                                                    <div class="extra">
                                                        <div class="extra-info">CSS<br/>
                                                            <small>
                                                                <i class="fab fa-sass"></i> Sass · 
                                                                <i class="fab fa-bootstrap"></i> Bootstrap
                                                            </small>
                                                        </div>
                                                        <div class="extra-details">
                                                            <div class="extra-details__progress" style="width:100%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="extra">
                                                        <div class="extra-info">Databases<br/>
                                                            <small>
                                                                <i class="devicon-postgresql-plain"></i> PostgreSQL · 
                                                                <i class="devicon-mysql-plain"></i> MySQL · 
                                                                <i class="devicon-mongodb-plain"></i> MongoDB
                                                            </small>
                                                        </div>
                                                        <div class="extra-details">
                                                            <div class="extra-details__progress" style="width:80%"></div>
                                                        </div>
                                                    </div>
                                                    <div class="extra">
                                                        <div class="extra-info">Operating Systems<br/>
                                                            <small>
                                                                <i class="fab fa-linux"></i> GNU/Linux ·
                                                                <i class="fab fa-windows"></i> Windows
                                                            </small>
                                                        </div>
                                                        <div class="extra-details">
                                                            <div class="extra-details__progress" style="width:90%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="resume__section resume__languages">
                                        <div class="resume__content">
                                            <div class="resume__section-title">
                                                <i class="fa fa-globe"></i>
                                                <h2>Languages</h2>
                                            </div>
                                            <div class="extra">
                                                <div class="extra-info">French
                                                    <small>(native)</small>
                                                </div>
                                                <div class="extra-details">
                                                    <div class="extra-details__progress" style="width:100%"></div>
                                                </div>
                                            </div>
                                            <div class="extra">
                                                <div class="extra-info">English</div>
                                                <div class="extra-details">
                                                    <div class="extra-details__progress" style="width:75%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="resume__section resume__languages">
										<div class="resume__content">
											<div class="resume__section-title">
												<i class="fas fa-gamepad"></i>
												<h2>hobbies</h2>
											</div>
											<div class="extra d-flex">
                                                <div class="extra-info mr-5">Sports<br/>
                                                    <small>
                                                        <i class="fas fa-skiing"></i>
                                                        Ski ·
                                                        <i class="fas fa-bicycle"></i>
                                                        Bike mountain ·
                                                        <i class="fas fa-swimmer"></i>
                                                        Scuba diving
                                                    </small>
                                                </div>
                                                <div class="extra-info ml-5">Video games<br/>
                                                    <small>
                                                        <i class="fas fa-chess"></i>
                                                        Strategy
                                                    </small>
                                                </div>
                                                <div class="extra-info mr-5 ml-5">Travelling</div>
                                            </div>
										</div>
									</section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
