{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <div id="main">
        <!-- Logo -->
        {% include "partials/_top_buttons.html.twig" %}

        <!-- Fullscreen Navigation -->
        {% include "partials/_fullscreen_nav.html.twig" %}

        <div class="container">
            <div class="stack__text my-5">
                <div class="stack__text--projects" data-aos="fade-up">Terms of</div>
                <div class="stack__text--stack mb-2" data-aos="fade-up">USE</div>
            </div>

            <p class="project__introduction">
                These terms and conditions outline the rules and regulations for the use of Slashflex’s Website.
                By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Slashflex’s website if you do not accept all of the terms and conditions stated on this page.
            </p>

            <p class="project__introduction">
                The following terminology applies to these Terms of Use, Privacy Statement and Disclaimer Notice and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website and accepting the Slashflex.io terms and conditions. “Ourselves”, “We”, “Our” and “Us”, refers to Slashflex.io. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
            </p>

            <h2 class="project__title">Cookies</h2>

            <p class="project__introduction">
                We employ the use of cookies. By using Slashflex.io's website you consent to the use of cookies in accordance with Slashflex.io’s Privacy Policy. Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.
            </p>

            <h3 class="project__title">License</h3>

            <p class="project__introduction">
                As the most of creative people we prefer to not restrict any usage of our works, but if you plan to do that – please <a href="mailto:pro.davidsaoud@gmail.com" class="in-bl">contact me</a> to get an official permission.
            </p>

            <h4 class="project__title">Reservation of Rights</h4>

            <p class="project__introduction">
                We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions. Removal of links from our website If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.
                Whilst we endeavor to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.
            </p>

            <h5 class="project__title">Disclaimer</h5>

            <p class="project__introduction">
                To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). To the extent that the Website and the information and services on the Website are provided free of charge, we will not be liable for any loss or damage of any nature.
            </p>

            <h6 class="project__title">Credit & Contact Information</h6>

            <p class="project__introduction pb-5">
                If you have any queries regarding any of our terms, please <a href="mailto:pro.davidsaoud@gmail.com" class="in-bl">contact us by email</a>.
            </p>
        </div>
    </div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}

{% block javascripts %}{% endblock %}
